.map {
    background: url("../img/map/map-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    padding: 57px 0 87px;
}

.map__inner {
    display: flex;
    flex-direction: column;
    text-align: center;

    .fas {
        color: #f38181;
        font-size: 24px;
    }
}

.map__link {
    margin-top: 18px;
    font-family: "Montserrat Bold";
    font-size: 24px;
    color: #f38181;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
        display: block;
        margin: 22px auto 0;
        width: 60px;
        height: 3px;
        background: #f38181;
        content: "";
    }
}
