@import "../vars";

.wedo__content {
    display: flex;
    margin-bottom: 120px;
}

.accordion {
    margin-left: 30px;
    width: 100%;
    max-width: 600px;

    &__item {
        margin: 10px auto;
        cursor: pointer;

        &:first-child {
            margin-top: 0;
        }
    }

    &__header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 14px 16px;
        border: 1px solid #e5e5e5;

        &::after {
            position: absolute;
            top: 40%;
            right: 21px;
            z-index: 0;
            display: block;
            content: "";
            width: 15px;
            height: 15px;
            border-left: 5px solid #ccc;
            border-bottom: 5px solid #ccc;
            transform: rotate(135deg);
        }
    }

    &__header--active {
        &::after {
            transform: translateY(-40%) rotate(-45deg);
        }
    }

    &__title {
        margin-left: 15px;
        font-family: "Montserrat Regular";
        font-size: 14px;
        text-transform: uppercase;
        color: #333;
    }

    &__text {
        margin: 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s linear;
        font-family: "Roboto Light Italic";
        font-size: 15px;
        line-height: 1.6;
        color: $color-section-text;
    }
}
