@media (max-width: 1250px) {
    .blog {
        flex-direction: column;
        margin: 0 auto 115px;

        &__item {
            margin: 30px auto;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
