@media (max-width: $mobileL) {
    .clients {
        text-align: center;

        &__item {
            position: static;
            width: 100%;
            margin: 30px auto;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__photo {
            position: static;
        }

        &__content {
            margin-left: 0;
            width: 100%;
        }

        &__prof {
            &::after {
                margin: 17px auto;
            }
        }
    }
}
